{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if site.words_per_minute %}
  {% if words < 180 %}
	  {{ site.data.ui-text[site.locale].less_than | default: "少于" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "分钟阅读" }}
	{% elsif words < 360 %}
	  1 {{ site.data.ui-text[site.locale].minute_read | default: "分钟阅读" }}
	{% else %}
	  {{ words | divided_by:site.words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "分钟阅读" }}
	{% endif %}
{% else %}
  {{ site.data.ui-text[site.locale].undefined_wpm | default: "配置文件中缺少words_per_minute参数" }}
{% endif %}